.bottom-bar__tag {
  padding: 10px 20px;
  margin-right: 20px;
  color: #d0d0d0;
  text-transform: lowercase;
  background-color: #0F0F0F;
  font-size: 14px;
  line-height: 4;
  font-weight: normal;
}
