@import url(./__article/collection__article.css);
@import url(./__title/collection__title.css);
@import url(./__background/collection__background.css);
@import url(./__content/collection__content.css);

.collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
