.header__sign {
  position: relative;
}

.header__sign::before {
  content: "";
  background: url(../../../images/sign-in.svg) no-repeat;
  position: absolute;
  top: 2px;
  left: -24px;
  width: 14px;
  height: 14px;
}
