@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
  height: 50px;
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
