.button {
  display: block;
  margin: auto;
  padding: 10px 20px;

  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #FFF;
  cursor: pointer;
  outline: 0;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
}
